<h2 class="text-center">
  Sign Up to Our App
</h2>

<form [formGroup]="signupForm" (ngSubmit)="onSubmit()" class="col-6 m-auto">
  <div class="mb-3">
    <label for="name" class="form-label">Name:</label>
    <input #nameFieldRef formControlName="name" type="text" id="name" class="form-control">
  </div>

  <app-field-error [formField]="getFieldControl('name')"></app-field-error>

  <div class="mb-3">
    <label for="email" class="form-label">Email:</label>
    <input formControlName="email" type="text" class="form-control" id="email" placeholder="name@email.com">
  </div>

  <app-field-error [formField]="getFieldControl('email')"></app-field-error>

  <div class="mb-3">
    <label for="password" class="form-label">Password:</label>
    <input formControlName="password" type="password" class="form-control" id="password">
  </div>

  <app-field-error [formField]="getFieldControl('password')"></app-field-error>

  <button [disabled]="signupForm.invalid" type="submit" class="btn btn-primary btn-lg">
    Sign Up
  </button>
</form>
