<h2 class="text-center">
  Sign Up to Our App
</h2>

<form [formGroup]="signupForm" (ngSubmit)="onSubmit()" class="col-6 m-auto">
  <div class="mb-3">
    <label for="name" class="form-label">Name:</label>
    <input formControlName="name" type="text" id="name" class="form-control">

    <!-- <input [(ngModel)]="nameField" #nameFieldRef="ngModel" required minlength="2" type="text" class="form-control"
               id="name">
        <p>The name is: {{nameField}}</p>
        <div *ngIf="nameFieldRef.invalid && (nameFieldRef.dirty || nameFieldRef.touched)" class="text-danger">
            <div *ngIf="nameFieldRef.errors?.['required']">
                Name is required
            </div>
            <div *ngIf="nameFieldRef.errors?.['minlength']">
                Name must be at least 2 chars.
            </div>
        </div> -->
  </div>
  <div class="mb-3">
    <label for="email" class="form-label">Email:</label>
    <input formControlName="email" type="text" class="form-control" id="email" placeholder="name@email.com">
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password:</label>
    <input formControlName="password" type="password" class="form-control" id="password">
  </div>

  <button [disabled]="signupForm.invalid" type="submit" class="btn btn-primary btn-lg">
    Sign Up
  </button>
</form>
